<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227315706555-m7pbmst8dhduvn7ikhaqouqgap13vh9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227315706555-m7pbmst8dhduvn7ikhaqouqgap13vh9r</string>
	<key>API_KEY</key>
	<string>AIzaSyC8L48XS4GUExIyhCdQYNS-WCf0YeLE7Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>227315706555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.smaapper</string>
	<key>PROJECT_ID</key>
	<string>smaapper</string>
	<key>STORAGE_BUCKET</key>
	<string>smaapper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227315706555:ios:203ded80cc9a8ee568979e</string>
</dict>
</plist>